@model CustomerAddressListModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.NapThe })
}
<form action="#" method="post" id="fnapthe">
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
                <td></td>
                <td>
                    <div style="margin: 5px 0px;">
                        <div class="label label-success" id="msg_success_napthe"></div>
                        <div class="label label-danger" id="msg_err_napthe"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Loại thẻ</td>
                <td>
                    <select name="card_type_id" class="form-control">
                        <option value="1">Viettel</option>
                        <option value="2">Mobiphone</option>
                        <option value="3">Vinaphone</option>
                        <option value="4">Gate</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Mệnh giá</td>
                <td>
                    <select name="price_guest" class="form-control">

                        <option value="0">- Chọn mệnh giá -</option>
                        <option value="10000">10.000</option>
                        <option value="20000">20.000</option>
                        <option value="30000">30.000</option>
                        <option value="50000">50.000</option>
                        <option value="100000">100.000</option>
                        <option value="200000">200.000</option>
                        <option value="300000">300.000</option>
                        <option value="500000">500.000</option>
                        <option value="1000000">1.000.000</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Mã thẻ</td>
                <td><input type="text" value="" name="pin" class="form-control" placeholder="Mã thẻ" /></td>
            </tr>
            <tr>
                <td>Seri</td>
                <td><input type="text" value="" name="seri" class="form-control" placeholder="Seri" /></td>
            </tr>

            <tr>
                <td>Ghi chú</td>
                <td><textarea name="note" id="note" class="form-control"></textarea></td>
            </tr>



            <tr>
                <td>Mã bảo mật</td>
                <td>

                    <div class="security_code">
                        <img src="securimage/securimage_show.php" id="captcha" />
                        <img src="images/refresh.gif" style="position: relative; left: 12px; top: -1px; cursor: pointer;" onclick="
                                                document.getElementById('captcha').src='securimage/securimage_show.php?sid='+Math.random();" />
                    </div>
                    <br />

                    <input type="text" id="ma_bao_mat" class="form-control" name="ma_bao_mat" placeholder="Mã bảo mật" />

                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-info" type="submit" value="Nạp thẻ" />
                    <div id="loading_napthe" style="display: none; float: right"><img src="images/loading.gif" /> &nbsp;Xin mời chờ...</div>
                </td>
            </tr>
        </tbody>
    </table>
</form>